.fall-container {
    /* z-index: 9999; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* clicks go through */
  overflow: hidden;
  z-index: 1;
}

.fall-icon {
  position: absolute;
  top: -10%;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.9;
  filter: drop-shadow(0 0 6px rgba(255, 105, 180, 0.6));
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0.8;
  }
}
