.footer {
  width: 100%;
  padding: 14px 10px;
  /* background: rgba(255, 77, 109, 0.85); */
  background: #c2185b;

  position: fixed;
  bottom: 0;
  left: 0;

  text-align: center;
}

.footer-text {
  color: #ffffff;
  font-size: 15px;
}

.footer-text span {
  color: #ffe066;
  font-weight: bold;
}

.footer-subtext {
  font-size: 12px;
  color: #fff0f3;
}
