@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */
.valentine-wrapper {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to bottom right, #ffe4ec, #ffd1dc); */
  /* background: radial-gradient(circle at top, #ffe4ec, #ffb6c1); */
  background: radial-gradient(circle at top, #ffe4ec, #ffd1dc, #ffb6c1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box */
.valentine-box {
  background: white;
  padding: 50px 40px;
  border-radius: 25px;
  text-align: center;
  width: 350px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* Emoji */
.valentine-box h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Title */
.valentine-box h2 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #e91e63;
  margin-bottom: 35px;
}

/* Buttons */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yes-btn {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  background: #e91e63;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.yes-btn:hover {
  background: #c2185b;
  transform: scale(1.08);
}

.no-btn {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  background: #9e9e9e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.no-btn:hover {
  background: #757575;
  transform: scale(1.05);
}

.no-message {
  margin-top: 20px;
  font-size: 14px;
  color: #8b1e3f;
  font-style: italic;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Mobile */
@media (max-width: 480px) {
  .valentine-box {
    width: 90%;
    padding: 40px 25px;
  }

  .valentine-box h2 {
    font-size: 24px;
  }

  .yes-btn,
  .no-btn {
    padding: 10px 22px;
    font-size: 14px;
  }
}
